.featured-image-block-grid-header {
  background: #FADBD8;
  margin-left: auto;
  margin-right: auto;
}

.featured-image-block {
  background: #FADBD8;
  margin-bottom: 5px;

}

.featured-image-block .featured-image-block-title {
  background: #FADBD8;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1em;
  color: ##FADBD8;
}

.featured-image-block a:hover p {
  color: 	#FA8072;
}
